# STEP 1

## Reasearch Question

### A: Design a research question
"What causes x?"

Selecting target variables -- Dependant -- (Y)

Task 1: any logical continuous variable
Task 2: any logical categorical variable

### B: Select explanatory variables
include a good number (10-15) explanatory variables to ensure I find independant variables that do influence the dependant variable.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('churn_clean.csv')

In [5]:
df.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,49153.319600,38.757567,-90.782536,9756.562400,2.0877,53.078400,39806.926771,10.001848,12.016000,...,172.624816,3392.341550,3.490800,3.505100,3.487000,3.497500,3.492900,3.497300,3.509500,3.495600
std,2886.89568,27532.196108,5.437389,15.156142,14432.698671,2.1472,20.698882,28199.916702,2.976019,3.025898,...,42.943094,2185.294852,1.037797,1.034641,1.027977,1.025816,1.024819,1.033586,1.028502,1.028633
min,1.00000,601.000000,17.966120,-171.688150,0.000000,0.0000,18.000000,348.670000,0.099747,1.000000,...,79.978860,155.506715,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,26292.500000,35.341828,-97.082812,738.000000,0.0000,35.000000,19224.717500,8.018214,10.000000,...,139.979239,1236.470827,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,48869.500000,39.395800,-87.918800,2910.500000,1.0000,53.000000,33170.605000,10.018560,12.000000,...,167.484700,3279.536903,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,7500.25000,71866.500000,42.106908,-80.088745,13168.000000,3.0000,71.000000,53246.170000,11.969485,14.000000,...,200.734725,5586.141370,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.640660,-65.667850,111850.000000,10.0000,89.000000,258900.700000,21.207230,23.000000,...,290.160419,7158.981530,7.000000,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,8.000000

# STEP 2

## Data Cleaning

### Check for NA

### Check for Duplicates

### Check for Outliers

### Data Exploration

Descriptive Statistics (Mean, Median, Mode)


Univatiate analysis (visualization) - every explanatory (aka: prdicting, x variable)  variable needs a visual

Bivariate analysis (visualization) (aka: predicting variable charted against target variable)  - every explanatory variables needs a visual

### Data Wrangling

Re-expression of categorical variables

Logarithmic transofrmations (not required; optional)

categorical data needs to be encoded as numbers to perform statistical modeling

two types of categorical data:

    ordinal -> inherent order
        ex: grades (a+, a, a-, b etc.) likert scales (very satisfied, somewhat satisfied, etc), age (child teen adult)
   method: ordinal encoding technique
python: replace function
R: revalue/replace function


   nominal -> names only; no inherent order
        ex: Gender, marital status, 
Method: One hot encoding

**Do not use one hot encoding with vairables that have a large number of values**
A new column will be created for each variable called a dummy variable. The values in this column are binary 0 and 1 to indicate if this row belongs to the category

To mitigate multicolinearity use k-1 (number of columns - 1) when adding the variables (columns) to the regression model

# STEP 3