https://www.youtube.com/watch?v=SHa-58-n6ew&t=198s

# Multi-linear regression

<ul>
    <li>Eda</li>
    <li>feature engineering</li>
    <li>feature selection</li>
    <li>model building and validation</li>
<ul>

In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

#disabling warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
i = pd.read_csv('C:/Users/tyson/Documents/GitHub/WGU_MSDA_Portfolio/Predictive Modeling – D208/R/Raw/churn_clean.csv')
i.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5

# Eda

In [ ]:
i.isnull().sum()

In [ ]:
#InternetService shouldnt have na values according to the dictionary. So, im chekcing to see if 'None' is being treated as a string
print(i.InternetService.unique())

In [ ]:
i.InternetService.fillna('None', inplace=True)
print(i.InternetService.unique())

In [ ]:
#Looking for Categorical Variables
print(i.dtypes)

In [ ]:
cat = i.select_dtypes(exclude = ['int', float])
print(cat.columns)

## NOTE
Need to re-categorize these variables.

In [ ]:
for k in cat:
    if k != "MonthlyCharge":
        i.groupby([k])["MonthlyCharge"].mean().plot.bar()
        plt.show()

In [ ]:
num = i.select_dtypes(exclude = [object])
print(num.columns)

In [ ]:
for k in num:
    if k != "Outage_sec_perweek":
        plt.scatter(i[k],i.Outage_sec_perweek)
        plt.title(k)
        plt.show()